<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui">

	<link rel="stylesheet" href="static/style/main.css">

</head>
<body>

	<main class="controller">
		<div class="playground"></div>
		<div class="score">0</div>
		<button type="button" class="start">
			I am ready
		</button>
	</main>

	<div id="ballTemplate"></div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="static/js/ctrl.js"></script>
</body>
</html>