* { margin: 0; padding: 0;}
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	background: #131313;
	box-sizing: border-box;
}
h1 {
	color: white;
	font-family: tahoma;
	text-align: center;
	margin: 35px 0;
}
.container {
	margin: 0 auto;
	position: relative;
	height: 500px;
	width: 1000px;
	overflow: hidden;

	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	border-top: 0px solid transparent;
	/*-moz-border-image: -moz-linear-gradient(top, #EB0000 0%, #000 100%);*/
	/*-webkit-border-image: -webkit-linear-gradient(top, #EB0000 0%, #000 100%);*/
	/*border-image: linear-gradient(to topbottom, #BA0000 0%, #000 100%);*/
	border-image-slice: 1;
}

.debug {
	background: #303030;
	width: 1000px;
	color: white;
	position: absolute;
	z-index: 9999;
}

.overlay {
	display: block;
	width: 1000px;
	margin: 0 auto;
	height: 100%;
	color: white;
}

.overlay button#start {
	display: block;
	padding: 8px 16px;
	border-radius: 4px;
	width: 1000px;
	margin: 16px auto;
	background: hsla(0, 0%, 90%, 0.6);
	color: #1e1e1e;
	font-size: 38px;
	border: none;
	cursor: pointer;
}
.overlay button#start:hover {
	background: white;
	color: #FFBE13;
}

#vid {
	position: absolute;
	top: 20px;
	z-index: 1;
}

#frequencyCanvas {
	display: block;
	margin: 0 auto;
	z-index: 2;
	background: transparent;
}

#channelCanvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	background: black;
}

.players > h1 {
	margin: 24px 0;
}

.players .player {
	min-width: 200px;
	display: inline-block;
	margin-left: -2px;
	padding: 8px;
}

.players .player p {
	margin: 16px 0;
}

/*
MOBILE
*/

.controller button.start {
	font-size: 14px;
	padding: 16px 16px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: white;
}

.controller button.start:active {
	background: #000;
	color: white;
}

.score {
	box-sizing: border-box;
	position: absolute;
	text-align: center;
	width: 80px;
	top: 8px;
	left: 50%;
	font-size: 16px;
	padding:  8px 16px;
	background: hsla(0, 0%, 90%, 0.6);
	color: #1e1e1e;
	margin-left:  -40px;
	border-radius: 4px;
	-webkit-transform: scale(1,1);
	-webkit-transition: all 200ms ease-out;
}

.playground {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.playground .left, .playground .right {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	background: rgba(123, 123, 123, 0.5);
	-webkit-transition: all 200ms ease-out;
}

.playground .right {
	left: 50%;
	background: rgba(123, 123, 123, 0.5);
}

.controller.miss .score {
	background: red;
}

/*.controller.flashLeft .playground .left {*/
	/*background: rgba(123, 123, 123, 0.27);*/
/*}*/
/*.controller.flashRight .playground .right {*/
	/*background: rgba(123, 123, 123, 0.27);*/
/*}*/

.controller.flashLeft .score, .controller.flashRight .score {
	background: white;
	color: #FFBE13;
	-webkit-transform: scale(1.5,1.5);
}

#ballTemplate {
	top: -70px;
	left: -70px;
}

#ballTemplate, .ball {
	position: absolute;
	border-radius: 32px;
	-webkit-box-shadow: 0px 0px 2px 2px #fff;
}

.ball {
	width: 70px;
	height: 70px;
	text-align: center;
	padding-top: 8px;
	color: white;
	background: rgb(38, 38, 38);
}

.falling {
	-webkit-transition: top 1400ms ease-out;
}

.ball.out {
	background: none;
	-webkit-box-shadow: 0px 0px 8px 4px #fff;
	/*-webkit-box-shadow: 0 0px 40px 10px #000;*/
	/*-webkit-transform: scale(.5,.5);*/
}

.ball.toBottom {
	top: 480px;
}