* { margin: 0; padding: 0;}
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	background: #131313;
	box-sizing: border-box;
}
h1 {
	color: white;
	font-family: tahoma;
	text-align: center;
	margin: 35px 0;
}
.container {
	margin: 0 auto;
	position: relative;
	height: 500px;
	width: 1000px;
	overflow: hidden;

	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	border-top: 0px solid transparent;
	/*-moz-border-image: -moz-linear-gradient(top, #EB0000 0%, #000 100%);*/
	/*-webkit-border-image: -webkit-linear-gradient(top, #EB0000 0%, #000 100%);*/
	/*border-image: linear-gradient(to topbottom, #BA0000 0%, #000 100%);*/
	border-image-slice: 1;
}

.debug {
	background: #303030;
	width: 1000px;
	color: white;
	position: absolute;
	z-index: 9999;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: hsla(20, 20%, 20%, .2);
	color: white;
	z-index: 5;
}

.overlay button {
	padding: 8px 16px;
	border-radius: 4px;
	margin-top: 8px;
}

#vid {
	position: absolute;
	top: 20px;
	z-index: 1;
}

#frequencyCanvas {
	position: absolute;
	top: 562px;
	left: 50%;
	z-index: 2;
	background: transparent;
	transform: translateX(-50%);
}

#channelCanvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	background: black;
}

/*
MOBILE
*/

.controller button.start {
	font-size: 14px;
	padding: 16px 16px;
	border-radius: 4px;
	margin-top: 8px;
	position: absolute;
	bottom: 0;
	left: 0%;
	width: 100%;
	z-index: 100;
	background: white;
}

.controller button.start:active {
	background: #000;
	color: white;
}

.score {
	position: absolute;
	top: 8px;
	left: 8px;
	font-size: 12px;
	padding:  8px 16px;
	background: hsla(0, 0%, 10%, 0.6);
	color: white;
	border-radius: 4px;
	-webkit-transform: scale(1,1);
	-webkit-transition: font-size 200ms ease-out;
}

.score.flash {
	font-size: 18px;
}

.playground {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: #ffd185;
	overflow: hidden;
}

#ballTemplate {
	top: -70px;
	left: -70px;
}

#ballTemplate, .ball {
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	opacity: 1;
	background: #430d00;
	border: 2px solid black;
	box-shadow: 2px 2px 8px black;
}

.ball {
	top: 0px;
	color: white;
}

.falling {
	-webkit-transition: top 1600ms ease-out;
}

.ball.out {
	background: none;
}

.ball.toBottom {
	top: 100%;
}